div {
  display: block;
}

.enjoy {
  font-size: 100px;
  font-style: italic;
  text-align: center;
  color: pink;
}
button {
    width: 200px;
    left: 40%;
    color: navy;
    background: none;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
}
body {
  background-image: url("../images/download.jpeg")
}
.player-1 {
  float: left;
  background-color: blue;
  width: 50%;
}
.player-2 {
  float: right;
  background-color: pink;
  width: 50%
}
.rules {
  background-color: navy;
}
